h1 {
    color: white;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
    color: white;
}

header {
  text-align: center;
  display: inline-block;
  background-color: rgba(100, 50, 210, 0.95);
  padding: 10px 20px;
  font-size: 1.6rem;
  font-weight: bold;;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.4s ease;
    color: black;
    background-color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

label {
    color: white;
}
    
input {
    border-radius: 4px;
}

::placeholder {
    text-align: left;
}

form {
    background-color: rgba(100, 50, 210, 0.95);
    border-radius: 14px;
    display: inline-block;
    
    padding: 30px;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.21);
    width: 40%;
}

input[type="text"] {
    width: 70%;
    padding: 3px 8px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.link {
    color: rgb(0, 0, 0)
}

.link:hover {
    color: rgba(100, 50, 210, 0.95);
}