h1 {
    text-align: center;
}
body {
    text-align: center;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    background:var(--bg); 
    margin:0; 
    color:#222 
}

.btn-ajustar {
    text-align: center;
}

button {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.4s ease;
    color: white;
    background-color: rgba(100, 60, 250, 0.9);
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}